Repository Blind-Gallery/BG-Academy, pull requests merged in 2024-10, with the labels that each got.

#483 Feature/landing update
  ui/components/PxCard.vue
  ui/components/PxCardCourse.vue
  ui/components/PxCardUserCourse.vue
  ui/components/landing/communityFeedback.vue
  ui/components/landing/courseCarrousel.vue
  ui/components/landing/frequentlyQuestions.vue
  ui/components/landing/ourLatestCourses.vue
  ui/components/landing/productSection.vue
  ui/components/landing/profileSection.vue
  ui/components/landing/upcomingCourses.vue
  ui/components/landing/userCourses.vue
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
Labels: frontend

#485 Dev
  api/graphQL/users.js
  api/model/User.js
  ui/components/PxCard.vue
  ui/components/PxCardCourse.vue
  ui/components/PxCardUserCourse.vue
  ui/components/landing/communityFeedback.vue
  ui/components/landing/courseCarrousel.vue
  ui/components/landing/frequentlyQuestions.vue
  ui/components/landing/ourLatestCourses.vue
  ui/components/landing/productSection.vue
  ui/components/landing/profileSection.vue
  ui/components/landing/upcomingCourses.vue
  ui/components/landing/userCourses.vue
  ui/components/layout/PxProfile.vue
  ui/components/settings/changePasswordForm.vue
  ui/components/settings/connectWallet.vue
  ui/components/settings/editProfileForm.vue
  ui/components/settings/navBar.vue
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
  ui/pages/profile/index.vue
  ui/pages/settings/password/index.vue
  ui/pages/settings/profile/index.vue
  ui/pages/settings/wallet/index.vue
Labels: backend, frontend, release

#484 Erick/feat/ilithya_requests
  hasura/migrations/academy_db/1728420197945_alter_table_public_modules_add_column_is_countable/down.sql
  hasura/migrations/academy_db/1728420197945_alter_table_public_modules_add_column_is_countable/up.sql
  hasura/migrations/academy_db/1728424074974_alter_table_public_modules_add_column_subtitle/down.sql
  hasura/migrations/academy_db/1728424074974_alter_table_public_modules_add_column_subtitle/up.sql
  hasura/migrations/academy_db/1728427087093_ilithya_changes/down.sql
  hasura/migrations/academy_db/1728427087093_ilithya_changes/up.sql
  ui/components/accordion/courseCurriculum.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, database

#486 Erick/feat/ilithya_requests (#484)
  hasura/migrations/academy_db/1728420197945_alter_table_public_modules_add_column_is_countable/down.sql
  hasura/migrations/academy_db/1728420197945_alter_table_public_modules_add_column_is_countable/up.sql
  hasura/migrations/academy_db/1728424074974_alter_table_public_modules_add_column_subtitle/down.sql
  hasura/migrations/academy_db/1728424074974_alter_table_public_modules_add_column_subtitle/up.sql
  hasura/migrations/academy_db/1728427087093_ilithya_changes/down.sql
  hasura/migrations/academy_db/1728427087093_ilithya_changes/up.sql
  ui/components/accordion/courseCurriculum.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, database, release

#487 Feature/new recommendation
  ui/components/courseRecommendation.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#488 Refactor error handling in getContractStorageFromOperationHash function
  api/model/Documents.js
  api/test/model/documents.test.js
Labels: backend

#489 Refactor error handling in getContractStorageFromOperationHash function (#488)
  api/model/Documents.js
  api/test/model/documents.test.js
Labels: backend, release
