Repository Blind-Gallery/BG-Academy, pull requests merged in 2024-08, with the labels that each got.

#285 Chore: Update course and module data in the database
  api/.infisical.json
  hasura/migrations/academy_db/1723252562595_alter_table_public_courses_alter_column_onchain_id/down.sql
  hasura/migrations/academy_db/1723252562595_alter_table_public_courses_alter_column_onchain_id/up.sql
  hasura/migrations/academy_db/1723252724729_insert_into_public_courses/down.sql
  hasura/migrations/academy_db/1723252724729_insert_into_public_courses/up.sql
  hasura/migrations/academy_db/1723480559920_alter_table_public_teachers_add_column_user_id/down.sql
  hasura/migrations/academy_db/1723480559920_alter_table_public_teachers_add_column_user_id/up.sql
  hasura/migrations/academy_db/1723480583065_set_fk_public_teachers_user_id/down.sql
  hasura/migrations/academy_db/1723480583065_set_fk_public_teachers_user_id/up.sql
  hasura/migrations/academy_db/1723481323366_alter_table_public_modules_alter_column_description/down.sql
  hasura/migrations/academy_db/1723481323366_alter_table_public_modules_alter_column_description/up.sql
  hasura/migrations/academy_db/1723481500658_insert_into_public_modules/down.sql
  hasura/migrations/academy_db/1723481500658_insert_into_public_modules/up.sql
  hasura/migrations/academy_db/1723482160105_insert_into_public_chapters/down.sql
  hasura/migrations/academy_db/1723482160105_insert_into_public_chapters/up.sql
  hasura/migrations/academy_db/1723482358039_insert_into_public_modules/down.sql
  hasura/migrations/academy_db/1723482358039_insert_into_public_modules/up.sql
  hasura/migrations/academy_db/1723482653436_insert_into_public_chapters/down.sql
  hasura/migrations/academy_db/1723482653436_insert_into_public_chapters/up.sql
  hasura/migrations/academy_db/1723488071677_modify_primarykey_public_user_course/down.sql
  hasura/migrations/academy_db/1723488071677_modify_primarykey_public_user_course/up.sql
  hasura/migrations/academy_db/1723576019448_update_duration_defaults_and_functions_to_update/down.sql
  hasura/migrations/academy_db/1723576019448_update_duration_defaults_and_functions_to_update/up.sql
  hasura/migrations/academy_db/1723576798387_update_duration_datatype/down.sql
  hasura/migrations/academy_db/1723576798387_update_duration_datatype/up.sql
  hasura/migrations/academy_db/1723579159694_insert_missing_chapters_module1_ilithya/down.sql
  hasura/migrations/academy_db/1723579159694_insert_missing_chapters_module1_ilithya/up.sql
  hasura/migrations/academy_db/1723579671607_add_first_question_from_ilithya_course/down.sql
  hasura/migrations/academy_db/1723579671607_add_first_question_from_ilithya_course/up.sql
  hasura/migrations/academy_db/1723580692100_function_to_update_questions_answers/down.sql
  hasura/migrations/academy_db/1723580692100_function_to_update_questions_answers/up.sql
  hasura/migrations/academy_db/1723764572107_ilithya_course/down.sql
  hasura/migrations/academy_db/1723764572107_ilithya_course/up.sql
  ui/components/Certificates/downloadButton.vue
  ui/components/Icon.vue
  ui/components/PxNavigator/courseSchema.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: backend, frontend, database

#287 Fix/will learn section
  ui/components/PxWillLearn.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#288 duration computed function fixed
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#289 Update course and module data for ilithya course
  .vscode/settings.json
  hasura/migrations/academy_db/1723828907326_update_ilithya_course/down.sql
  hasura/migrations/academy_db/1723828907326_update_ilithya_course/up.sql
Labels: database

#290 Update courseId prop to onchainId in PxNavigatorCourseSchema and Payments components
  ui/components/Payments/tezosGenerate.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#291 Refactor Payments component and update courseId prop
  api/model/Payments.js
  api/routes/payments/schemas.js
  ui/components/Payments/tezosGenerate.vue
  ui/pages/buyCourse/_courseId.vue
Labels: backend, frontend

#292 Add trigger and function for setting first chapter as last_chapter_id_seen in user_course
  hasura/migrations/academy_db/1723849335811_funtion_to_populate_last_chapter_id_seen_in_user_courses/down.sql
  hasura/migrations/academy_db/1723849335811_funtion_to_populate_last_chapter_id_seen_in_user_courses/up.sql
Labels: database

#295 Fix/modules without test
  ui/pages/courseNavigator/chapter/_chapterId.vue
Labels: frontend

#298 Add array relationship for courses_payments in public_courses.yaml
  hasura/metadata/databases/academy_db/tables/public_courses.yaml
Labels: database

#296 Fix incorrect answers in Ilithya quiz questions
  hasura/migrations/academy_db/1724081469437_fix_ilithya_questions/down.sql
  hasura/migrations/academy_db/1724081469437_fix_ilithya_questions/up.sql
Labels: database

#300 Fix incorrect answers in Ilithya quiz questions
  api/model/Payments.js
  hasura/migrations/academy_db/1724104615257_update_function_that_updates_question_answer_id/down.sql
  hasura/migrations/academy_db/1724104615257_update_function_that_updates_question_answer_id/up.sql
  hasura/migrations/academy_db/1724106833240_fix_questions_course_1/down.sql
  hasura/migrations/academy_db/1724106833240_fix_questions_course_1/up.sql
Labels: backend, database

#301 Fix/UI details
  ui/components/accordion/courseCurriculum.vue
  ui/components/accordion/courseInstructor.vue
  ui/pages/buyCourse/_courseId.vue
  ui/tailwind.config.js
Labels: frontend

#304 Enhancement/toggle module collapse
  ui/components/PxNavigator/courseSchema.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend

#302 Feature/landing update
  ui/components/PxWebinar.vue
  ui/components/button/PxSecondary.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#305 Update payments functionality
  api/graphQL/payments.js
  api/graphQL/users.js
  api/model/Payments.js
  compose.hasura.yaml
  docker-compose.yaml
  hasura/migrations/academy_db/1724176065651_update_crud_actions_on_external_key_payments/down.sql
  hasura/migrations/academy_db/1724176065651_update_crud_actions_on_external_key_payments/up.sql
  hasura/migrations/academy_db/1724186536494_update_ilithya_course_price/down.sql
  hasura/migrations/academy_db/1724186536494_update_ilithya_course_price/up.sql
  ui/components/Payments/tezosGenerate.vue
Labels: backend, frontend, database

#307 price changed
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#308 price changed (#307)
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, release

#309 Add order_by parameter to chapters query in buyCourse page
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#310 Add order_by parameter to chapters query in buyCourse page
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, release

#311 Migrate envkey to dotenv
  api/constants/tezos.js
  api/graphQL/payments.js
  api/model/Payments.js
  api/package-lock.json
  api/package.json
  api/server.js
  api/service/Email.js
  api/service/IPFS.js
  api/service/Stripe.js
  api/service/tzip.js
Labels: backend

#312 Add password recovery functionality and reset password functionality
  api/constants/tezos.js
  api/graphQL/payments.js
  api/graphQL/users.js
  api/model/Auth.js
  api/model/Payments.js
  api/model/User.js
  api/package-lock.json
  api/package.json
  api/routes/auth/index.js
  api/routes/auth/schemas.js
  api/routes/users/index.js
  api/routes/users/schemas.js
  api/server.js
  api/service/Email.js
  api/service/IPFS.js
  api/service/Stripe.js
  api/service/tzip.js
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/down.sql
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/up.sql
  ui/components/auth/ChangePasswordForm.vue
  ui/components/auth/RecoverPasswordForm.vue
  ui/components/auth/RecoverPasswordModal.vue
  ui/components/auth/ValidateChangePasswordCodeForm.vue
  ui/layouts/default.vue
  ui/pages/profile/index.vue
Labels: backend, frontend, database

#315 Rename columns in emails table
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/down.sql
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/up.sql
Labels: database

#316 Migrate envkey to dotenv and refactor authentication and password recovery functionality
  api/constants/tezos.js
  api/graphQL/payments.js
  api/graphQL/users.js
  api/model/Auth.js
  api/model/Payments.js
  api/model/User.js
  api/package-lock.json
  api/package.json
  api/routes/auth/index.js
  api/routes/auth/schemas.js
  api/routes/users/index.js
  api/routes/users/schemas.js
  api/server.js
  api/service/Email.js
  api/service/IPFS.js
  api/service/Stripe.js
  api/service/tzip.js
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/down.sql
  hasura/migrations/academy_db/1724363489109_enhancements_for_chance_password/up.sql
  ui/components/PxModal.vue
  ui/components/auth/ChangePasswordForm.vue
  ui/components/auth/LogInForm.vue
  ui/components/auth/LogInWalletButton.vue
  ui/components/auth/LogInWithGoogle.vue
  ui/components/auth/RecoverPasswordFlow.vue
  ui/components/auth/RecoverPasswordForm.vue
  ui/components/auth/SignUpForm.vue
  ui/components/auth/SignUpWalletForm.vue
  ui/components/auth/ValidateChangePasswordCodeForm.vue
  ui/components/support/BecomeAnEducatorForm.vue
  ui/components/support/CourseFeedbackForm.vue
  ui/layouts/default.vue
  ui/pages/frames/_id/_typeFrame.vue
  ui/pages/profile/index.vue
Labels: backend, frontend, database, release

#317 refactor: Update label in RecoverPasswordForm.vue to 'Confirm password'
  ui/components/auth/RecoverPasswordFlow.vue
  ui/components/auth/RecoverPasswordForm.vue
Labels: frontend

#318 Refactor password recovery form and component names
  ui/components/auth/RecoverPasswordFlow.vue
  ui/components/auth/RecoverPasswordForm.vue
Labels: frontend, release

#321 Feature/marked with dom purify
  ui/.yarn/cache/dompurify-npm-3.1.6-344fd47e23-cc4fc4ccd9.zip
  ui/.yarn/cache/marked-npm-14.0.0-150169f8e4-965405cde1.zip
  ui/.yarn/cache/vue-demi-npm-0.14.10-d4a4eb175d-9b4106f99b.zip
  ui/.yarn/cache/vue-dompurify-html-npm-4.1.2-7b510f9c60-f22e398ed5.zip
  ui/nuxt.config.js
  ui/package.json
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/plugins/dompurify.js
  ui/plugins/marked.js
  ui/yarn.lock
Labels: frontend

#323 Update resources, dependencies, and UI for chapter video navigation
  hasura/migrations/academy_db/1724686582628_update_resources_text/down.sql
  hasura/migrations/academy_db/1724686582628_update_resources_text/up.sql
  hasura/migrations/academy_db/1724691305681_alter_table_public_courses_add_column_challenge/down.sql
  hasura/migrations/academy_db/1724691305681_alter_table_public_courses_add_column_challenge/up.sql
  hasura/migrations/academy_db/1724691368004_add_challenge_ilithya_course/down.sql
  hasura/migrations/academy_db/1724691368004_add_challenge_ilithya_course/up.sql
  ui/.yarn/cache/@babel-parser-npm-7.25.4-950a8e60b6-fe4f083d4a.zip
  ui/.yarn/cache/@babel-types-npm-7.25.4-f235c433f3-497f8b583c.zip
  ui/.yarn/cache/@parcel-watcher-win32-x64-npm-2.2.0-ab56b15f32-8.zip
  ui/.yarn/cache/@vue-compiler-sfc-npm-2.7.16-a7ff2cddb3-cf3e498ff0.zip
  ui/.yarn/cache/entities-npm-2.1.0-b27b8aebc6-a10a877e48.zip
  ui/.yarn/cache/linkify-it-npm-3.0.3-6880fe29c1-31367a4bb7.zip
  ui/.yarn/cache/markdown-it-npm-12.3.2-6c66b716e8-890555711c.zip
  ui/.yarn/cache/mdurl-npm-1.0.1-054d974269-71731ecba9.zip
  ui/.yarn/cache/uc.micro-npm-1.0.6-36f3dc2fc4-6898bb5563.zip
  ui/.yarn/cache/vue-markdown-render-npm-1.1.3-0f291fc3ae-af0d52cf9b.zip
  ui/.yarn/cache/vue-npm-2.7.16-c163f6852b-42eb129edb.zip
  ui/nuxt.config.js
  ui/package.json
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/yarn.lock
Labels: frontend, database

#324 Erick/update/taquito-deps
  api/package-lock.json
Labels: backend

#329 Fix/course navigator
  ui/nuxt.config.js
  ui/pages/courseNavigator/chapter/_chapterId.vue
Labels: frontend

#335 Enhancement/challenge view (#333)
  api/package-lock.json
  ui/components/PxNavigator/challengeCard.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/challenge/index.vue
  ui/pages/courseNavigator/challenge/mint/index.vue
  ui/pages/courseNavigator/challenge/success/index.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: backend, frontend, release

#334 add first module
  hasura/migrations/academy_db/1724720404151_add_heey_first_module/down.sql
  hasura/migrations/academy_db/1724720404151_add_heey_first_module/up.sql
Labels: database

#336 Migration/add heey module
  hasura/migrations/academy_db/1724778742864_add_heey_modules/down.sql
  hasura/migrations/academy_db/1724778742864_add_heey_modules/up.sql
Labels: database

#337 Enhancement/certificate component
  ui/components/PxCertificate.vue
  ui/components/certificate/baseCard.vue
  ui/components/certificate/downloadButton.vue
  ui/components/certificate/mintButton.vue
  ui/pages/index.vue
Labels: frontend

#338 Erick/feat/add-chapters-2nd-module
  .vscode/settings.json
  hasura/migrations/academy_db/1724783913659_add_chapters_2nd_module/down.sql
  hasura/migrations/academy_db/1724783913659_add_chapters_2nd_module/up.sql
Labels: database

#339 Add chapters from the 3rd module
  hasura/migrations/academy_db/1724785633159_insert_chapters_3rd_module/down.sql
  hasura/migrations/academy_db/1724785633159_insert_chapters_3rd_module/up.sql
Labels: database

#340 Insert chapters from 4th module
  hasura/migrations/academy_db/1724788478275_insert_chapters_4th_module/down.sql
  hasura/migrations/academy_db/1724788478275_insert_chapters_4th_module/up.sql
Labels: database

#343 Refactor IPFS service and improve file upload
  api/model/Documents.js
  api/package-lock.json
  api/package.json
  api/service/Documents.js
  api/service/IPFS.js
  api/service/tzip.js
  api/test/service/documents.test.js
Labels: backend

#341 Add questions for the 2nd module in the generative art course
  hasura/migrations/academy_db/1724789357704_insert_questions_2nd_module/down.sql
  hasura/migrations/academy_db/1724789357704_insert_questions_2nd_module/up.sql
Labels: database

#342 Add questions for the 3rd module in the generative art course
  hasura/migrations/academy_db/1724789902968_insert_questions_3rd_module/down.sql
  hasura/migrations/academy_db/1724789902968_insert_questions_3rd_module/up.sql
Labels: database

#344 Insert chapters from first module
  hasura/migrations/academy_db/1724795328763_add_heey_first_chapter/down.sql
  hasura/migrations/academy_db/1724795328763_add_heey_first_chapter/up.sql
Labels: database

#349 Refactor logger, fix error handling, add logging and gifting functionality, update endpoints and queries
  api/.envkey
  api/graphQL/certificates.js
  api/graphQL/payments.js
  api/model/Auth.js
  api/model/Documents.js
  api/model/Payments.js
  api/model/User.js
  api/plugins/verify-jwt.js
  api/routes/auth/index.js
  api/routes/docs/index.js
  api/routes/payments/index.js
  api/routes/payments/schemas.js
  api/server.js
  api/service/Documents.js
  api/service/Email.js
  api/service/IPFS.js
  api/service/Logger.js
  api/service/Stripe.js
  api/service/index.js
  api/service/smart-contracts/base.js
  api/service/smart-contracts/sbt.js
  api/service/tzip.js
  docker-compose.yaml
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/academy_db/tables/public_users.yaml
  ui/pages/index.vue
Labels: backend, frontend, database

#350 Update options for chapter 3 and thumbnail video of ilithya course
  hasura/migrations/academy_db/1724870542606_update_ilithya_course_information/down.sql
  hasura/migrations/academy_db/1724870542606_update_ilithya_course_information/up.sql
Labels: database

#351 Update certificate components and refactor IPFS service, logger, and endpoints
  api/.envkey
  api/graphQL/certificates.js
  api/graphQL/payments.js
  api/model/Auth.js
  api/model/Documents.js
  api/model/Payments.js
  api/model/User.js
  api/package-lock.json
  api/package.json
  api/plugins/verify-jwt.js
  api/routes/auth/index.js
  api/routes/docs/index.js
  api/routes/payments/index.js
  api/routes/payments/schemas.js
  api/server.js
  api/service/Documents.js
  api/service/Email.js
  api/service/IPFS.js
  api/service/Logger.js
  api/service/Stripe.js
  api/service/index.js
  api/service/smart-contracts/base.js
  api/service/smart-contracts/sbt.js
  api/service/tzip.js
  api/test/service/documents.test.js
  docker-compose.yaml
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/academy_db/tables/public_users.yaml
  hasura/migrations/academy_db/1724870542606_update_ilithya_course_information/down.sql
  hasura/migrations/academy_db/1724870542606_update_ilithya_course_information/up.sql
  ui/components/PxCertificate.vue
  ui/components/PxModal.vue
  ui/components/certificate/baseCard.vue
  ui/components/certificate/downloadButton.vue
  ui/components/certificate/mintButton.vue
  ui/components/certificate/openModalButton.vue
  ui/layouts/default.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/pages/index.vue
Labels: backend, frontend, database, release

#352 Update Procfile to use 'web' instead of 'worker' for running the API
  api/Procfile
Labels: backend

#353 Migrate npm to yarn and update start and build scripts
  api/Procfile
  api/package-lock.json
  api/yarn.lock
  package.json
Labels: backend

#356 Update Procfile and scripts, migrate npm to yarn
  api/Procfile
  api/package-lock.json
  api/yarn.lock
  package.json
Labels: backend, release

#357 Feature/discover view
  ui/components/PxNavigator/challengeCard.vue
  ui/components/PxNavigator/exploreCard.vue
  ui/components/explore/artCard.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend

#358 Enhancement/certificate flow
  ui/components/certificate/baseCard.vue
  ui/components/certificate/openModalButton.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/pages/index.vue
Labels: frontend

#359 updates in certificates and explore view
  ui/components/PxNavigator/challengeCard.vue
  ui/components/PxNavigator/exploreCard.vue
  ui/components/certificate/baseCard.vue
  ui/components/certificate/openModalButton.vue
  ui/components/explore/artCard.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/pages/index.vue
Labels: frontend, release

#360 update thumbnials
  hasura/migrations/academy_db/1724711931971_add_heey_courses/down.sql
  hasura/migrations/academy_db/1724711931971_add_heey_courses/up.sql
  hasura/migrations/academy_db/1724720404151_add_heey_first_module/down.sql
  hasura/migrations/academy_db/1724720404151_add_heey_first_module/up.sql
  hasura/migrations/academy_db/1724778742864_add_heey_modules/down.sql
  hasura/migrations/academy_db/1724778742864_add_heey_modules/up.sql
  hasura/migrations/academy_db/1724783913659_add_chapters_2nd_module/down.sql
  hasura/migrations/academy_db/1724783913659_add_chapters_2nd_module/up.sql
  hasura/migrations/academy_db/1724785633159_insert_chapters_3rd_module/down.sql
  hasura/migrations/academy_db/1724785633159_insert_chapters_3rd_module/up.sql
  hasura/migrations/academy_db/1724788478275_insert_chapters_4th_module/down.sql
  hasura/migrations/academy_db/1724788478275_insert_chapters_4th_module/up.sql
  hasura/migrations/academy_db/1724789357704_insert_questions_2nd_module/down.sql
  hasura/migrations/academy_db/1724789357704_insert_questions_2nd_module/up.sql
  hasura/migrations/academy_db/1724789902968_insert_questions_3rd_module/down.sql
  hasura/migrations/academy_db/1724789902968_insert_questions_3rd_module/up.sql
  hasura/migrations/academy_db/1724795328763_add_heey_first_chapter/down.sql
  hasura/migrations/academy_db/1724795328763_add_heey_first_chapter/up.sql
  hasura/migrations/academy_db/1724805566779_add_heeey_course/down.sql
  hasura/migrations/academy_db/1724805566779_add_heeey_course/up.sql
  hasura/migrations/academy_db/1724805566779_add_questions_first_module/down.sql
  hasura/migrations/academy_db/1724805566779_add_questions_first_module/up.sql
Labels: database

#332 add migration for heey curses
  .vscode/settings.json
  hasura/migrations/academy_db/1724805566779_add_heeey_course/down.sql
  hasura/migrations/academy_db/1724805566779_add_heeey_course/up.sql
Labels: database

#361 validations added to display the appropriate challenge
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend

#362 slider buttons fixed
  ui/pages/index.vue
Labels: frontend

#363 Add you will lean to Heeey's course
  hasura/migrations/academy_db/1724951710934_add_you_will_learn_heeey/down.sql
  hasura/migrations/academy_db/1724951710934_add_you_will_learn_heeey/up.sql
Labels: database

#364 Add columns for visibility, release date, and discount price to courses table and update related code
  api/graphQL/payments.js
  api/model/Payments.js
  api/package.json
  hasura/migrations/academy_db/1724955008670_update_course_table/down.sql
  hasura/migrations/academy_db/1724955008670_update_course_table/up.sql
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
Labels: backend, frontend, database

#365 feat: Update course price display in buyCourse page
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#367 update onchain id
  hasura/migrations/academy_db/1724959157228_update_onchain_data_heeey/down.sql
  hasura/migrations/academy_db/1724959157228_update_onchain_data_heeey/up.sql
Labels: database

#366 Update course details and add discount prices
  .vscode/settings.json
  api/graphQL/payments.js
  api/model/Payments.js
  api/package.json
  hasura/migrations/academy_db/1724805566779_add_heeey_course/down.sql
  hasura/migrations/academy_db/1724805566779_add_heeey_course/up.sql
  hasura/migrations/academy_db/1724951710934_add_you_will_learn_heeey/down.sql
  hasura/migrations/academy_db/1724951710934_add_you_will_learn_heeey/up.sql
  hasura/migrations/academy_db/1724955008670_update_course_table/down.sql
  hasura/migrations/academy_db/1724955008670_update_course_table/up.sql
  hasura/migrations/academy_db/1724959157228_update_onchain_data_heeey/down.sql
  hasura/migrations/academy_db/1724959157228_update_onchain_data_heeey/up.sql
  ui/pages/buyCourse/_courseId.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/pages/index.vue
Labels: backend, frontend, database, release

#382 Enhancement/remove unnecesary resources
  ui/assets/academy-logo.png
  ui/assets/certificate-bg.png
  ui/assets/farcast.png
  ui/assets/warpcast.png
  ui/components/NuxtLogo.vue
  ui/pages/changePassword/index.vue
Labels: frontend

#383 Handle broken profile picture links by displaying a default icon
  ui/components/layout/PxProfile.vue
Labels: frontend

#384 Login modal imported in the course purchase view
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#385 bugfixes and enhancements
  ui/assets/academy-logo.png
  ui/assets/certificate-bg.png
  ui/assets/farcast.png
  ui/assets/warpcast.png
  ui/components/NuxtLogo.vue
  ui/components/layout/PxProfile.vue
  ui/pages/buyCourse/_courseId.vue
  ui/pages/changePassword/index.vue
Labels: frontend, release

#387 Update allowEarlyAccess list and course price display in buyCourse page
  ui/constants/index.js
  ui/nuxt.config.js
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#388 Update allowEarlyAccess list and course price display in buyCourse page
  ui/constants/index.js
  ui/nuxt.config.js
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, release

#389 Enhancement/px navigator
  ui/components/PxNavigator/courseSchema.vue
  ui/components/PxNavigator/moduleCard.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend

#386 Update UI configuration for HTTPS redirection
  ui/README.md
  ui/middleware/redirect-to-https.js
  ui/nuxt.config.js
Labels: documentation, frontend

#391 object-cover class added to display the pfp img properly
  ui/components/layout/PxProfile.vue
Labels: frontend

#392 Refactor course price display and handle existing user course
  api/graphQL/payments.js
  api/model/Payments.js
  ui/constants/index.js
  ui/pages/buyCourse/_courseId.vue
Labels: backend, frontend

#286 Feature/sales dashboard
  ui/pages/dashboard/admin/index.vue
  ui/pages/dashboard/user/index.vue
Labels: frontend

#393 General updates and bugfixes
  api/graphQL/payments.js
  api/model/Payments.js
  ui/README.md
  ui/components/PxNavigator/courseSchema.vue
  ui/components/PxNavigator/moduleCard.vue
  ui/components/layout/PxProfile.vue
  ui/constants/index.js
  ui/middleware/redirect-to-https.js
  ui/nuxt.config.js
  ui/pages/buyCourse/_courseId.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/courseNavigator/chapter/_chapterId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/pages/dashboard/admin/index.vue
  ui/pages/dashboard/user/index.vue
Labels: documentation, backend, frontend, release

#395 Update ilithya course
  hasura/migrations/academy_db/1725049232153_ilithya_course_corrections/down.sql
  hasura/migrations/academy_db/1725049232153_ilithya_course_corrections/up.sql
  ui/components/accordion/courseInstructor.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, database

#399 Add course feedback functionality
  api/app.js
  api/graphQL/courses.js
  api/model/Course.js
  api/model/index.js
  api/routes/course/index.js
  api/routes/course/schemas.js
  api/service/Logger.js
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/down.sql
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/up.sql
  ui/components/support/CourseFeedbackForm.vue
Labels: backend, frontend, database

#400 Feature/course feedback UI
  api/app.js
  api/graphQL/courses.js
  api/model/Course.js
  api/model/index.js
  api/routes/course/index.js
  api/routes/course/schemas.js
  api/service/Logger.js
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/down.sql
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/up.sql
  ui/components/PxNavigator/courseSchema.vue
  ui/components/button/PxSecondary.vue
  ui/components/support/CourseFeedbackForm.vue
Labels: backend, frontend, database

#401 Feature/course feedback UI
  api/app.js
  api/graphQL/courses.js
  api/model/Course.js
  api/model/index.js
  api/routes/course/index.js
  api/routes/course/schemas.js
  api/service/Logger.js
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/down.sql
  hasura/migrations/academy_db/1725056254349_feedback_enhancements/up.sql
  ui/components/PxNavigator/courseSchema.vue
  ui/components/button/PxSecondary.vue
  ui/components/support/CourseFeedbackForm.vue
Labels: backend, frontend, database, release
