Repository Blind-Gallery/BG-Academy, pull requests merged in 2024-09, with the labels that each got.

#404 Refactor dashboard page to update sales information display
  ui/pages/dashboard/user/index.vue
Labels: frontend

#406 Update ilithya course release date
  hasura/migrations/academy_db/1725299701125_update_ilithya_release_date/down.sql
  hasura/migrations/academy_db/1725299701125_update_ilithya_release_date/up.sql
Labels: database

#407 Migrations/update ilithya release date
  hasura/migrations/academy_db/1725304156890_fix_ilithya_release_date_EST/down.sql
  hasura/migrations/academy_db/1725304156890_fix_ilithya_release_date_EST/up.sql
Labels: database

#409 Update smart contract functionality and fix bugs
  api/constants/tezos.js
  api/routes/payments/schemas.js
  api/service/IPFS.js
  api/service/smart-contracts/academy.js
  api/test/service/ipfs.test.js
  smart-contracts/src/academy-old.py
  smart-contracts/src/academy.py
  smart-contracts/welcome.py
  ui/components/Payments/tezosGenerate.vue
  ui/constants/index.js
  ui/pages/buyCourse/success/index.vue
Labels: backend, frontend, smart contract

#408 Enhanement/sales dashboard UI
  ui/components/dashboard/statsCard.vue
  ui/pages/dashboard/user/index.vue
Labels: frontend

#410 Update buyCourse page to include dynamic nowDate
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#411 Severeal updates and bugfixes
  api/constants/tezos.js
  api/routes/payments/schemas.js
  api/service/IPFS.js
  api/service/smart-contracts/academy.js
  api/test/service/ipfs.test.js
  hasura/migrations/academy_db/1725299701125_update_ilithya_release_date/down.sql
  hasura/migrations/academy_db/1725299701125_update_ilithya_release_date/up.sql
  hasura/migrations/academy_db/1725304156890_fix_ilithya_release_date_EST/down.sql
  hasura/migrations/academy_db/1725304156890_fix_ilithya_release_date_EST/up.sql
  smart-contracts/src/academy-old.py
  smart-contracts/src/academy.py
  smart-contracts/welcome.py
  ui/components/Payments/tezosGenerate.vue
  ui/components/dashboard/statsCard.vue
  ui/constants/index.js
  ui/pages/buyCourse/_courseId.vue
  ui/pages/buyCourse/success/index.vue
  ui/pages/dashboard/user/index.vue
Labels: backend, frontend, smart contract, database, release

#413 Changes in payment intents
  api/constants/index.js
  api/constants/payments.js
  api/graphQL/payments.js
  api/model/Payments.js
  api/package.json
  api/yarn.lock
  hasura/migrations/academy_db/1725311973177_insert_into_public_transaction_types/down.sql
  hasura/migrations/academy_db/1725311973177_insert_into_public_transaction_types/up.sql
Labels: backend, database

#414 Update payment intent flows
  api/constants/index.js
  api/constants/payments.js
  api/graphQL/payments.js
  api/model/Payments.js
  api/package.json
  api/yarn.lock
  hasura/migrations/academy_db/1725311973177_insert_into_public_transaction_types/down.sql
  hasura/migrations/academy_db/1725311973177_insert_into_public_transaction_types/up.sql
Labels: backend, database, release

#416 Update ilithya course descriptions
  hasura/migrations/academy_db/1725315899711_update_ilithya_chapter_info/down.sql
  hasura/migrations/academy_db/1725315899711_update_ilithya_chapter_info/up.sql
Labels: database

#418 Refactor logger initialization
  api/service/Logger.js
Labels: backend

#417 Update ilithya course descriptions
  api/package.json
  api/service/Logger.js
  api/yarn.lock
  hasura/migrations/academy_db/1725315899711_update_ilithya_chapter_info/down.sql
  hasura/migrations/academy_db/1725315899711_update_ilithya_chapter_info/up.sql
Labels: backend, database, release

#420 Add error handling to register wallet function
  api/model/User.js
  hasura/migrations/academy_db/1725328700842_update_ilithya_chapter_info/down.sql
  hasura/migrations/academy_db/1725328700842_update_ilithya_chapter_info/up.sql
Labels: backend, database

#421 Add error handling to register wallet function (#420)
  api/model/User.js
  hasura/migrations/academy_db/1725328700842_update_ilithya_chapter_info/down.sql
  hasura/migrations/academy_db/1725328700842_update_ilithya_chapter_info/up.sql
  ui/pages/profile/index.vue
Labels: backend, frontend, database, release

#422 Update welcome email title with course name and teacher name
  api/graphQL/payments.js
  api/model/Payments.js
Labels: backend

#423 feat: Disable redirect in auth configuration
  ui/nuxt.config.js
Labels: frontend

#424 Update welcome email title with course name and teacher name
  api/graphQL/payments.js
  api/model/Payments.js
  ui/nuxt.config.js
Labels: backend, frontend, release

#426 Refactor code and update dependencies
  api/model/Documents.js
  api/routes/docs/index.js
  api/routes/docs/schemas.js
  api/service/smart-contracts/sbt.js
  api/service/tzip.js
  ui/components/Payments/tezosGenerate.vue
  ui/components/certificate/mintButton.vue
  ui/components/certificate/openModalButton.vue
  ui/components/support/BecomeAnEducatorForm.vue
  ui/services/tezos/wallet.js
Labels: backend, frontend

#425 Fix/latest course validation
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
Labels: frontend

#412 Feature/course release landing
  ui/components/landing/courseRelease.vue
  ui/pages/index.vue
Labels: frontend

#427 fields that do not work yet have been hidden
  ui/pages/profile/index.vue
Labels: frontend

#428 Update code and dependencies
  api/model/Documents.js
  api/routes/docs/index.js
  api/routes/docs/schemas.js
  api/service/smart-contracts/sbt.js
  api/service/tzip.js
  ui/components/Payments/tezosGenerate.vue
  ui/components/certificate/mintButton.vue
  ui/components/certificate/openModalButton.vue
  ui/components/landing/courseRelease.vue
  ui/components/support/BecomeAnEducatorForm.vue
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
  ui/pages/profile/index.vue
  ui/services/tezos/wallet.js
Labels: backend, frontend, release

#429 certificate size changed to the pdf format
  api/service/Documents.js
  api/templates/certificate.html
  api/test/service/documents.test.js
Labels: backend

#431 See our latest... changed for Our latest...
  ui/pages/index.vue
Labels: frontend

#433 Update image URLs to use IPFS gateway
  api/templates/certificate.html
  ui/components/PxWebinar.vue
  ui/components/landing/courseRelease.vue
  ui/components/layout/PxFooter.vue
  ui/components/layout/PxHeader.vue
  ui/constants/allowList.js
  ui/constants/index.js
  ui/constants/ipfs.js
  ui/constants/metadata.js
  ui/constants/tezos.js
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
  ui/services/tezos/index.js
  ui/services/tezos/wallet.js
Labels: backend, frontend

#432 Dev
  api/service/Documents.js
  api/templates/certificate.html
  api/test/service/documents.test.js
  ui/components/PxWebinar.vue
  ui/components/landing/courseRelease.vue
  ui/components/layout/PxFooter.vue
  ui/components/layout/PxHeader.vue
  ui/constants/allowList.js
  ui/constants/index.js
  ui/constants/ipfs.js
  ui/constants/metadata.js
  ui/constants/tezos.js
  ui/pages/buyCourse/_courseId.vue
  ui/pages/index.vue
  ui/services/tezos/index.js
  ui/services/tezos/wallet.js
Labels: backend, frontend, release

#435 missing constants added
  ui/components/Payments/tezosGenerate.vue
  ui/components/certificate/mintButton.vue
Labels: frontend

#436 missing constants added (#435)
  ui/components/Payments/tezosGenerate.vue
  ui/components/certificate/mintButton.vue
Labels: frontend, release

#437 certificate style improved
  api/templates/certificate.html
Labels: backend

#442 Fix/user dashboard
  ui/pages/dashboard/user/index.vue
Labels: frontend

#443 Update teachers' profile pictures URLs
  hasura/migrations/academy_db/1725581237165_remove_pinata_url/down.sql
  hasura/migrations/academy_db/1725581237165_remove_pinata_url/up.sql
Labels: database

#446 Enhancement/loading status tezos
  ui/components/Payments/tezosGenerate.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#440 ++Add Payment Class Methods and Update Dependencies
  .vscode/settings.json
  api/app.js
  api/controller/auth.js
  api/controller/index.js
  api/controller/payments.js
  api/graphQL/courses.js
  api/graphQL/users.js
  api/model/Course.js
  api/model/Login.js
  api/model/Payments.js
  api/model/User.js
  api/model/index.js
  api/package.json
  api/routes/auth/index.js
  api/routes/auth/schemas.js
  api/routes/course/index.js
  api/routes/payments/index.js
  api/server.js
  api/service/Ip-descriptor.js
  api/service/Stripe.js
  api/test/routes/payments.test.js
  api/test/routes/root.test.js
  api/test/service/email.test.js
  api/test/service/stripe.test.js
  api/yarn.lock
  hasura/migrations/academy_db/1725561656043_enhancements_for_tax_calculation/down.sql
  hasura/migrations/academy_db/1725561656043_enhancements_for_tax_calculation/up.sql
  hasura/migrations/academy_db/1725982396092_user_enhancements/down.sql
  hasura/migrations/academy_db/1725982396092_user_enhancements/up.sql
  ui/components/Payments/stripeGenerate.vue
  ui/components/auth/LogInForm.vue
  ui/components/auth/LogInWalletButton.vue
  ui/constants/ISO-3166-ID-CURATED-NAME.json
  ui/constants/country.json
  ui/pages/buyCourse/_courseId.vue
Labels: backend, frontend, database

#447 Feature/course recommendation
  hasura/metadata/databases/academy_db/tables/public_course_recommendations.yaml
  hasura/metadata/databases/academy_db/tables/public_courses.yaml
  hasura/metadata/databases/academy_db/tables/tables.yaml
  hasura/migrations/academy_db/1726004098674_course_recomendations/down.sql
  hasura/migrations/academy_db/1726004098674_course_recomendations/up.sql
  ui/components/courseRecommendation.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, database

#445 Enhancement/formulate style
  ui/assets/formulate.css
  ui/components/auth/LogInForm.vue
  ui/components/auth/LogInWalletButton.vue
  ui/components/auth/RecoverPasswordFlow.vue
  ui/components/auth/RecoverPasswordForm.vue
  ui/components/auth/SignUpForm.vue
  ui/components/auth/SignUpWalletForm.vue
  ui/nuxt.config.js
  ui/plugins/formulate.config.js
  ui/tailwind.config.js
Labels: frontend

#448 feat: Update Tezos RPC endpoints to use new URLs
  api/constants/tezos.js
  ui/constants/tezos.js
Labels: backend, frontend

#449 Feature/share activity
  .vscode/settings.json
  ui/components/certificate/baseCard.vue
  ui/components/certificate/downloadButton.vue
  ui/components/certificate/mintButton.vue
  ui/components/share/activityClaimCertificate.vue
  ui/components/share/activityCoursePurchase.vue
  ui/components/share/activityPassTest.vue
  ui/pages/buyCourse/success/index.vue
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/services/share/index.js
Labels: frontend

#451 style fixed for checkbox wrappers
  ui/pages/courseNavigator/test/_moduleId.vue
  ui/plugins/formulate.config.js
Labels: frontend

#452 Wrap Stripe register in try-catch
  api/model/Login.js
  api/service/Stripe.js
Labels: backend

#453 Wrap Stripe register in try-catch and add logging of failed GeoIP lookup
  api/model/Login.js
  api/service/Stripe.js
Labels: backend, release

#454 Update info in chapters - heey
  hasura/migrations/academy_db/1726188357442_update_heey_chapter_info/down.sql
  hasura/migrations/academy_db/1726188357442_update_heey_chapter_info/up.sql
Labels: database

#457 Add tax calculation and display tax amount in payment process
  api/constants/payments.js
  api/controller/payments.js
  api/graphQL/courses.js
  api/graphQL/users.js
  api/model/Payments.js
  api/routes/payments/schemas.js
  api/service/Stripe.js
  ui/components/Payments/stripeGenerate.vue
Labels: backend, frontend

#458 Add tax calculation and display tax amount in payment process
  api/constants/payments.js
  api/controller/payments.js
  api/graphQL/courses.js
  api/graphQL/users.js
  api/model/Payments.js
  api/routes/payments/schemas.js
  api/service/Stripe.js
  hasura/migrations/academy_db/1726188357442_update_heey_chapter_info/down.sql
  hasura/migrations/academy_db/1726188357442_update_heey_chapter_info/up.sql
  ui/components/Payments/stripeGenerate.vue
Labels: backend, frontend, database, release

#455 Migrations/add priority column
  hasura/migrations/academy_db/1726251123825_update_questions_columns/down.sql
  hasura/migrations/academy_db/1726251123825_update_questions_columns/up.sql
  hasura/migrations/academy_db/1726256674359_add_order_in_questions_ilithya/down.sql
  hasura/migrations/academy_db/1726256674359_add_order_in_questions_ilithya/up.sql
Labels: database

#456 Fix/dashboard sales
  hasura/metadata/databases/academy_db/tables/public_payments.yaml
  ui/pages/dashboard/user/index.vue
Labels: frontend, database

#459 update dashboard y columns
  hasura/metadata/databases/academy_db/tables/public_payments.yaml
  hasura/migrations/academy_db/1726251123825_update_questions_columns/down.sql
  hasura/migrations/academy_db/1726251123825_update_questions_columns/up.sql
  hasura/migrations/academy_db/1726256674359_add_order_in_questions_ilithya/down.sql
  hasura/migrations/academy_db/1726256674359_add_order_in_questions_ilithya/up.sql
  ui/pages/dashboard/user/index.vue
Labels: frontend, database, release

#460 Refactor user dashboard component to optimize payment data retrieval
  ui/pages/dashboard/user/index.vue
Labels: frontend

#463 Refactor payment calculation in user dashboard component (#462)
  ui/pages/dashboard/user/index.vue
Labels: frontend, release

#465 Add country tax validation and calculation in Payments class
  api/controller/payments.js
  api/model/Payments.js
  api/package.json
  api/yarn.lock
Labels: backend

#464 Feature/learn more challenge
  ui/pages/courseNavigator/challenge/_courseId.vue
Labels: frontend

#466 Enhance course recommendations feature and update courseRecommendation component
  .vscode/settings.json
  hasura/migrations/academy_db/1726780202070_enhance_course_recommendations/down.sql
  hasura/migrations/academy_db/1726780202070_enhance_course_recommendations/up.sql
  ui/components/courseRecommendation.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend, database

#469 Update release date for heey course
  hasura/migrations/academy_db/1726790894547_heey_release_day_config/down.sql
  hasura/migrations/academy_db/1726790894547_heey_release_day_config/up.sql
Labels: database

#438 courseRelease updated with the heeey course info
  ui/components/landing/courseRelease.vue
  ui/pages/index.vue
Labels: frontend

#470 feat: Update course details page with dynamic data
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#468 Add priority column to questions table in academy_db
  hasura/migrations/academy_db/1726772084406_add_order_in_questions_heey/down.sql
  hasura/migrations/academy_db/1726772084406_add_order_in_questions_heey/up.sql
Labels: database

#471 Release to prod
  .vscode/settings.json
  api/controller/payments.js
  api/model/Payments.js
  api/package.json
  api/yarn.lock
  hasura/migrations/academy_db/1726772084406_add_order_in_questions_heey/down.sql
  hasura/migrations/academy_db/1726772084406_add_order_in_questions_heey/up.sql
  hasura/migrations/academy_db/1726780202070_enhance_course_recommendations/down.sql
  hasura/migrations/academy_db/1726780202070_enhance_course_recommendations/up.sql
  hasura/migrations/academy_db/1726790894547_heey_release_day_config/down.sql
  hasura/migrations/academy_db/1726790894547_heey_release_day_config/up.sql
  ui/components/courseRecommendation.vue
  ui/components/landing/courseRelease.vue
  ui/pages/buyCourse/_courseId.vue
  ui/pages/courseNavigator/challenge/_courseId.vue
  ui/pages/index.vue
Labels: backend, frontend, database, release

#472 Update release date and refactor question retrieval in courseNavigator test component and Remove Flag
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/down.sql
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/up.sql
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend, database

#473 Release to prod
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/down.sql
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/up.sql
  ui/pages/courseNavigator/test/_moduleId.vue
Labels: frontend, database, release

#474 Refactor courseNavigator test component and remove flag
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/down.sql
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/up.sql
Labels: database, release

#477 Fix chapter name in "Contemporary Generative Art" section
  hasura/migrations/academy_db/1727294215269_Fix_chapterName_Heeey/down.sql
  hasura/migrations/academy_db/1727294215269_Fix_chapterName_Heeey/up.sql
Labels: database

#476 feat: generative art curated gallery added
  ui/pages/courseNavigator/explore/_courseId.vue
Labels: frontend

#478 Update video IDs for chapters in academy_db
  hasura/migrations/academy_db/1727299693704_update_heeeey_videos/down.sql
  hasura/migrations/academy_db/1727299693704_update_heeeey_videos/up.sql
Labels: database

#479 Refactor date suffix logic in _courseId.vue
  ui/pages/buyCourse/_courseId.vue
Labels: frontend

#475 To Update prod
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/down.sql
  hasura/migrations/academy_db/1726854939278_Fix_heey_release_day/up.sql
  hasura/migrations/academy_db/1727294215269_Fix_chapterName_Heeey/down.sql
  hasura/migrations/academy_db/1727294215269_Fix_chapterName_Heeey/up.sql
  hasura/migrations/academy_db/1727299693704_update_heeeey_videos/down.sql
  hasura/migrations/academy_db/1727299693704_update_heeeey_videos/up.sql
  hasura/migrations/academy_db/1727305486024_Change_release_date/down.sql
  hasura/migrations/academy_db/1727305486024_Change_release_date/up.sql
  ui/pages/buyCourse/_courseId.vue
  ui/pages/courseNavigator/explore/_courseId.vue
Labels: frontend, database, release

#481 ++Refactor chapter titles in "Contemporary Generative Art" section
  hasura/migrations/academy_db/1727364318294_fix_heeey_title_chapters/down.sql
  hasura/migrations/academy_db/1727364318294_fix_heeey_title_chapters/up.sql
Labels: database

#439 Enhancement/profile view
  api/graphQL/users.js
  api/model/User.js
  ui/components/layout/PxProfile.vue
  ui/components/settings/changePasswordForm.vue
  ui/components/settings/connectWallet.vue
  ui/components/settings/editProfileForm.vue
  ui/components/settings/navBar.vue
  ui/pages/profile/index.vue
  ui/pages/settings/password/index.vue
  ui/pages/settings/profile/index.vue
  ui/pages/settings/wallet/index.vue
Labels: backend, frontend
